[Unit]
Description= Synchronization Script for NEXUS-OSS REPODATA

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/watchers/nexus-oss-watch.sh

[Install]
WantedBy=multi-user.target